<article class="card" (click)="onCard($event)">
  <div class="cover">
    @if (item().album.cover) {
      <img [src]="item().album.cover" [alt]="item().album.title" />
    } @else {
      <div class="cover-placeholder"></div>
    }
    <div class="cover-rating">
      @for (i of stars; track i) {
        <lucide-icon [img]="Star" size="12" [class.filled]="i <= item().rating"></lucide-icon>
      }
    </div>
  </div>

  <div class="body">
    <div class="album">
      <span class="album-title">{{ item().album.title }}</span>
      <span class="album-artist">{{ item().album.artist.name }}</span>
    </div>

    <div class="meta">
      <button class="author" type="button" (click)="onUser($event)">
        <div class="avatar">
          @if (item().author.avatar_url) {
            <img [src]="item().author.avatar_url" [alt]="item().author.username" />
          } @else {
            {{ item().author.username.charAt(0).toUpperCase() }}
          }
        </div>
        <span class="username">{{ item().author.username }}</span>
      </button>
      <app-like-button
        [reviewId]="item().id"
        [initialLiked]="item().liked_by_me ?? false"
        [initialCount]="item().likes_count ?? 0"
      />
    </div>
  </div>
</article>
