@if (!loading() && items().length === 0) {
  <div class="empty">No liked reviews yet</div>
} @else if (items().length > 0) {
  <div class="likes-grid">
    @for (item of items(); track item.id) {
      <a class="cell" [routerLink]="['/reviews', item.id]">
        <div class="cover">
          @if (item.album.cover) {
            <img [src]="item.album.cover" [alt]="item.album.title" />
          }
          <span class="rating">{{ item.rating }}★</span>
        </div>
        <button class="author" type="button" (click)="goToAuthor($event, item.author.username)">
          <span class="avatar">
            @if (item.author.avatar_url) {
              <img [src]="item.author.avatar_url" [alt]="item.author.username" />
            } @else {
              {{ authorInitial(item.author.username) }}
            }
          </span>
          <span class="username">{{ item.author.username }}</span>
        </button>
      </a>
    }
  </div>

  @if (hasMore()) {
    <div class="more">
      <button class="load-more" type="button" [disabled]="loadingMore()" (click)="loadMore()">
        {{ loadingMore() ? 'Loading…' : 'Load more' }}
      </button>
    </div>
  }
}
