@use '../../../styles/variables' as *;

:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #050505;
  padding: 1.2rem 1.5rem;
  border-bottom: 1px solid $text-muted;
  color: $primary;

  backdrop-filter: blur(8px);

  @media (min-width: 786px) {
    display: none;
  }
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: $font-heading;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  margin: 0;
  color: $primary;
}
