<section class="feed">
  @if (loading()) {
    <div class="feed-loading">
      @for (i of [1, 2, 3]; track i) {
        <div class="skeleton"></div>
      }
    </div>
  } @else if (isEmpty()) {
    <div class="empty">
      <p class="empty-title">Your feed is quiet</p>
      <p class="empty-hint">Follow some users to see their reviews here</p>
    </div>
  } @else {
    <app-carousel title="From people you follow">
      @for (item of items(); track item.id) {
        <app-following-feed-card
          [item]="item"
          (albumClick)="goToAlbum($event)"
          (userClick)="goToUser($event)"
        />
      }

      @if (loadingMore()) {
        <div class="more-loading">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      }

      <div #sentinel class="sentinel"></div>
    </app-carousel>
  }
</section>
