@use 'styles/variables' as *;
@use 'styles/mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  background: $bg-base;
  color: $text;
  min-height: 100vh;
  padding-bottom: 70px;

  @media (min-width: 768px) {
    padding-bottom: 0;
  }
}
